.card-text {
    white-space: pre-line;  /*quebra de linha do Json*/
}

.display-flex{
    display: flex;
    flex-wrap: wrap;
    
}

.card{
    max-width: 30rem;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 15px;
    
}

.card-body {
    background-color: white;
    padding: 0.90rem;
}

.card-title, h5{
padding-bottom: 10px;
color: #bb37cc;
text-align: center;
font-weight: bolder;
}

.img__style{
    max-height: 167px;
    display: flex;
    padding: 15px;
}
bottom, .card-img-top{
    height: inherit;
    justify-content: center;
    
}
img{
object-fit: contain;
}

p{
    color:#011266;
    
}
/* BlockQuote */
.p-3{
border:none;

}

.quote__container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.quote__style {
    height: 10%;
    padding-left: 20px;
    border-left: 7px solid;
    border-color: rgb(226, 226, 230);
}
 
@media(max-width: 320px)
{
    .card-title, h5, .card-text{
        text-align: -webkit-center;
    }
    .card-img{
        width: 65vw;
    }
    .card-body{
        padding:0.30rem;
        max-width: 95vw;
        
    }
}

a {
    color: #4406A8;
}