h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: #bb37cc;
    text-align: center;
    margin-top: 7vw;   
}

 h2 {
     font-size: 1.2rem;
     text-align: center;
     margin: 40px 50px;
     color:#4406a8;
     text-align: center;
 }

 .img-fluid{
     height: 50vh;
 }

 .imgHeader{
    width: 100%;
 }
