.title{
    font-size: 1.8rem;
    color: #6D81F2;
    text-align: center;
    margin-top:60px;
  }

 .sub__title{
     font-size: 1rem;
     text-align: center;
     margin: 3% 15%;
     color: #8091F2
 }

 .img-fluid{
     height: 50vh;
 }


