.styleNav{
    background-color:#c33cd4;
    font-size: 0.9rem;
    text-align: center; 
   
    padding: 0;
    
     
}

.navbar-light .navbar-nav .nav-link{
    color: black;
    border-radius: 3px;
    padding:15px;
    font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-link:focus{
    color:white;
    background-color:#b61aae;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:white;
    background-color:#b61aae;
    
    
}
         
.img-fluid{
    margin:0 auto;
    display: block;
    }

.menu {
    font-size: 0.9rem;
    margin-left: 7px;

}