.icone{
    color: purple;
    font-size: 2.5rem;
    margin: 20px;


}

.footer{
    background-color: rgb(204, 212, 255);
    font-size: 0.9rem;
    text-align: center; 
    height: 20%;
    display: flex;
    justify-content: space-around;

    
}
