.icone{
    color:white;
    font-size: 2.5rem;
    margin: 20px;


}

.footer{
    background-color: #c33cd4;
    font-size: 0.9rem;
    text-align: center; 
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 100%;

    
}
.p__footer{
    color:black; 
}


@media(max-width: 425px){
    .icone{
        font-size: 20px;
    margin: 5px}
       
}

