
*{
  box-sizing: border-box;
  /* font-family: 'Hind Siliguri', sans-serif; */
  font-family: 'Dosis', sans-serif;
  margin: 0 auto;
  scroll-behavior: smooth;
  
  
}

App {
  width: 100%;
}

.SectionTitle{
  font-size: 2rem;
  color: #90299e;
  text-align: center;
  margin-top:50px;
  font-weight: bold;
}


p {
  font-size: 1.10rem;
}

@media(max-width: 425px){
  .SectionTitle{
    font-size: 1.5rem;
  }
}
